@using WebApplication1.Models;
@{
    QuranModel results = (QuranModel)ViewData["ListTafsirDetail"] != null ?
        (QuranModel)ViewData["ListTafsirDetail"] : new QuranModel();
    ViewBag.Title = "Detail Tafsir";
}

<div class="card">
    <div class="card-header">
        <button id="back" class="btn btn-sm bg-gradient-secondary"><i class="fas fa-arrow-alt-circle-left"></i> Back</button>
    </div>
    <div class="card-body m-2">
        <div>
            <h4 class="myfont"><i class="fas fa-check-circle text-success"></i> @results.NamaLatin - @results.Nama</h4>
        </div>
        <div>
            <h6 class="fontNama">Jumlah Ayat: @results.JumlahAyat / Arti: @results.Arti</h6>
        </div>
        <div class="text-right">
            <a href=@Url.Content("~/Quran/Detail/"+results.Nomor) class="btn bg-gradient-info mr-2"><i class="fas fa-file-alt"></i> Lihat Surat</a>
        </div>
    </div>
</div>

@foreach (QuranModelTafsir item in results.Tafsir)
{
    <div class="callout callout-success">
        <h6 class="btn btn-success btn-sm">Ayat @item.Ayat</h6>
        <div>
            <h6 class="text-secondary text-justify mb-3">
                @Html.Raw(item.Tafsir.Replace("\n\n", "<br/><br/>"))
            </h6>
        </div>
    </div>
}

@section JScript{
    <script type="text/javascript">
        $(function () {
            $('.select2').select2()

            //Initialize Select2 Elements
            $('.select2bs4').select2({
                theme: 'bootstrap4'
            })
        });

        $("#back").click(function () {
            $("#loadinggif").show();
            window.location.href = "/Quran";
        });
    </script>
}